// Spotlight Sections
// -------------------------
.Spotlight .SectionLabel,
.Spotlight h4 {
	display: block;
	position: relative;
	padding: 15px 0 10px 0;
	
	&:after {
		width: 25%;
	}
	@include dottedBoxCenter(lighten($color-neutral,25%));  
	@include dottedBoxTop(lighten($color-neutral,25%));    
	@include underlinedTitles($color-secondary-b,2px,30%);
}
.Spotlight {
	margin-bottom: 20px;
	p {    
		@include dottedBoxCenter(lighten($color-neutral,25%));
		padding: 3px 20px;
		margin: -3px 0 0 0;
		position: relative;
		@include dottedBoxBottom(lighten($color-neutral,25%));
	}
	a { text-decoration: none; }
	img { margin-bottom: 15px; }
}


// Membership Box 
// -------------------------
.MembershipBox .SectionLabel,
.MembershipBox h4 {
	display: block;
	position: relative;
	padding: 15px 0 10px 0;
	
	&:after {
		width: 25%;
	}
	@include dottedBoxCenter(lighten($color-neutral,25%));  
	@include dottedBoxTop(lighten($color-neutral,25%));    
	@include underlinedTitles($color-secondary-b,2px,30%);
}
.MembershipBox {
	margin-bottom: 20px;
	p {    
		@include dottedBoxCenter(lighten($color-neutral,25%));
		padding: 3px 20px;
		margin: -3px 0 0 0;
		position: relative;
		@include dottedBoxBottom(lighten($color-neutral,25%));
	}
	a { text-decoration: none; }
	img { margin-bottom: 15px; }
}

