/* Filter Panel (Query Menu)
   ========================================================================== */
/* This is an alternate style for the Query Menu filter panel */
.FilterPanel {
    @if ($theme-name != 'Orion') {
        background-color: transparent;
    }
    border: none !important;
    margin-top: -3px;  
    
    .PanelTitle, 
    .panel-title {
        background-image: none;
        padding-left: 0.1em;
        line-height: normal;
        margin-left: 0;
        font-size: $font-size-h2 * .82353;
    }

    .PanelHead.Distinguish,
    .panel-heading.Distinguish {
        border: none;
        min-height: 1em;
    }
}

.FoD {

    .panel-heading.Distinguish {
        padding: 0;
    }

    .panel-body {
        padding: 0;
    }

    h2.panel-title {
    color: white;
    margin-bottom: 20px;
    }
    .PanelField label {
        color: white;
    }
}

